@import url('https://fonts.googleapis.com/css2?family=Rationale&family=Space+Grotesk:wght@300..700&display=swap');

body{
    background-color: #3b2f22;
    font-family: "Rationale", sans-serif;
}

figcaption, ol, ul{color: aliceblue;}

h1, h2{
    color: rgb(114, 129, 144);
    text-align: center;
    text-decoration: underline;
}

main p::first-letter, header p:first-letter{font-size: 200%;}

main p, header p{
    color: aliceblue;
    text-indent: 8px;
}

a{color: rgb(99, 99, 121);}

th,td{border: 2px solid rgb(143, 121, 96)}

table{
    color: aliceblue;
    width: 100%;
}

footer{
    font-size: 11px;
    text-align: center;
    background-color: rgb(114, 129, 144);
}

.destaque{color:rgb(230, 101, 101)}