@import url('https://fonts.googleapis.com/css2?family=Rationale&family=Space+Grotesk:wght@300..700&display=swap');

body{
    background-color: #2c2e32;
    font-family: "Rationale", sans-serif;
}

figcaption, ol, ul, a{color: aliceblue;}

h1, h2{
    color: rgb(114, 129, 144);
    text-align: center;
    text-decoration: underline;
}

main p::first-letter, header p:first-letter{font-size: 200%;}

main p, header p{
    color: aliceblue;
    text-indent: 8px;
}

th,td{border: 3px solid rgb(114, 129, 144)}

table{
    border-collapse: collapse;
    color: aliceblue;
    width: 100%;
}

footer{
    font-size: 11px;
    text-align: center;
    background-color: rgb(114, 129, 144);
}

.destaque, #av{color:rgb(230, 101, 101)}